.Gif {
   --gridShadow-size: var(--gridList-gap, 6px);
   margin-bottom:.5em;
   position: relative;
}

.Gif img {
    width: 100%;
    object-fit: contain;
    vertical-align: top;
}

.Gif h4 {
    background: rgba(0, 0, 0, 3);
    bottom: 0;
    font-size: 12px;
    color: #fff;
    margin: 0;
    position: absolute;
}