.Gif {
    border: 1px solid #eee;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    display: flex;
    margin: 16px;
    width: 100%;  
    padding: 32px;  
    flex-direction: column;
}

.Gif img {
    object-fit: contain;
}

.Gif h6 {
    margin: 0%;
}

i {
    font-size: 80px;
}